<h1>Vendas Recebidas</h1>

<hr>

<% if @vendas.empty? %>

    <p>Você ainda não vendeu nenhum produto.</p>

<% else %>

    <% @vendas.each do |venda| %>

        <div class="venda">

            <h2>Venda #<%= venda.id %></h2>

            <p>
                <strong>Comprador:</strong>
                <%= venda.comprador.nome %>
            </p>

            <p>
                <strong>Data:</strong>
                <%= venda.data %>
            </p>

           <p>
    <strong>Status:</strong>
    <%= venda.status %>
</p>

<% unless venda.status == "entregue" %>

    <form action="/vendas/<%= venda.id %>/status" method="POST" style="display:inline;">

        <button type="submit">
            Avançar Status
        </button>

    </form>

<% end %>

<% if venda.status == "paga" || venda.status == "enviada" %>

    <form action="/vendas/<%= venda.id %>/voltar-status" method="POST" style="display:inline;">

        <button type="submit">
            Voltar Status
        </button>

    </form>

<% end %>

    <br><br>

            <p>
                <strong>Total:</strong>
                R$ <%= ("%.2f" % venda.valor_total).tr(".", ",") %>
            </p>

            <h3>Produtos</h3>

            <ul>

                <% venda.item_vendas.each do |item| %>

                    <li>

                        <%= item.produto.nome %>

                        -
                        <%= item.quantidade %>x

                        (R$ <%= ("%.2f" % item.preco_unitario).tr(".", ",") %>)

                    </li>

                <% end %>

            </ul>

        </div>

    <% end %>

<% end %>

<br>

<button onclick="window.location.href='/painel'">
    Voltar
</button>